/*html {
    font-family: "Comic Sans MS", sans-serif;
    background: url("../image/fond2.jpg") no-repeat;
}
#slogan h1 {
    font-size: 1.5em;
}
main {
    flex-flow: column-reverse;
    margin: auto;
}
main div {
    margin: auto;
}
#propos div:last-child img:last-child {
    width: 100%;
    height: auto;
}
footer{
    bottom: 0;
}
#propos {
    margin: auto;
}
#profil section{
    margin: 20px 10px;
    width: 30%;
}
#profil{
    text-align: center;
}
#map{
    content: url("../image/map2.PNG");
}
#second {
    padding-left: 30%;
}
#slogan h1:first-child{
    padding-right: 20%;
}
#app {
    width: 75%;
}
#app input {
    width: 80%;
    font-size: 1.5em;
}
#bandeau h1{
    font-size: 5.5em;
    margin-bottom: 20%;
}
#societe {
    font-size: 2em;
}
#societe a {
    font-size: 1.8em;
}
#compte {
    font-size: 1.5em;
}
#login{
    font-size: 1.5EM;;
    width: 75%;
    right: 12.5%;
}
#login div {
    display: block;
    margin: auto;
    width: 75%;
}
*/