html {
    font-family: "Comic Sans MS", sans-serif;
    background: url("../image/fond2.jpg") no-repeat;
}
#slogan h1 {
    font-size: 1.3em;
}
main {
    display: block;
    margin: auto;
}
main div {
    margin: auto;
}
#propos div:last-child img:last-child {
    width: 100%;
    height: auto;
}
footer{
    bottom: 0;
}
#propos {
    margin: auto;
}
#profil section{
    margin: 20px 10px;
    width: 30%;
}
#profil{
    text-align: center;
}
#map{
    content: url("../image/map2.PNG");
}
#slogan {
    padding: 0;
}
#second {
    padding: 0;
}