html{
    background: url("../image/fond.jpg") no-repeat center;
    background-size: cover;
}

body, html {
    margin: 0;
    padding: 0;
    font-family: 'slt';
    font-size: 1.3em;
    color: #ecf0f1;
    background-color: unset!important;
}

main {
    width: 80%!important;
    min-height: 60vh;
    padding: 3% 0;
    margin: 0 auto!important;
}
menu {
    margin: 0;
    padding: 0;
    position: fixed;
    z-index: 5;
    width: 100%;
}
footer {
    background: black;
    opacity: 0.9;
    margin-top: 5%;
    padding: 20px 0;
}

footer li {
    font-size: 0.8em;
    list-style-type: none;
    display: inline-block;
}

footer h1 {
    font-size: 1.5em!important;
}

h1, ul, p{
    margin: 0;
    padding: 0;
}

ul {
    list-style-type: none;
}

legend {
    font-size: 1.2em;
}

a {
    color: #ecf0f1;
    text-decoration: none!important;
    cursor: pointer;
}

hr {
    margin: 0;
    background-color: white;
}

a:hover {
    color: #D5B927;
    transition: all 1s ease;
}
#blanc {
    height: 6em;
}

@font-face {
    font-family: "slt";
    src: url("Berlin-Sans-FB_6747.ttf");
}

@media only screen and (max-width: 1300px) and (min-width: 768px){
    body {
        font-size: 2vw!important;
    }
    #login input[type=submit] {
        width: auto!important;
    }
    #propos {
        margin: auto!important;
        width: 100% !important;
        border-radius: 10px!important;
    }

    #slogan h1 {
        font-size: 4vw!important;
    }
    #app input {
        font-size: 2vw!important;
    }
}

@media only screen and (min-width: 550px) and (max-width: 767px){
    #app img {
        max-height: 500px;
        max-width: 500px;
    }
}
@media only screen and (max-width: 767px){
    html {
        background: url("../image/fond2.jpg") no-repeat center;
        background-size: cover;
    }

    body {
        font-size: 0.7em!important;
    }

    main {
        width: 100%!important;
    }
    #bandeau h1:first-child {
        padding-bottom: 1%;
    }
    #profil img {
        max-height: 120px;
    }

    #profil section section {
        width: 50%;
        margin: auto;
    }

    #slogan h1 {
        font-size: 10vw!important;
    }

    #CreateCompte {
        padding-top: 5%!important;
    }

    #slogan h1:first-child {
        text-align: left;
        padding-left: 5%;
    }
    #propos {
        margin: auto!important;
        width: 100% !important;
        border-radius: 10px!important;
    }
    #avatar {
        max-width: 30px;
        max-height: 30px;
    }
    #legal li, #protection li{
        display: block;
    }
    .achievFav {
        width: 40%!important;
    }
    .achievFav li {
        display: block!important;
        width: 100%!important;
    }
    .sectionFav *{
        width: 30%;
    }

    .sectionFav a img {
        position: relative!important;
        top: 42.5%!important;
    }

    #acceuil{
        flex-direction: column-reverse;
    }

    #gestionCompte {
        width: 90% !important;
        border-radius: 10px!important;
    }

    #login input, #gestionCompte input, #gestionCompte label {
        font-size: 1em!important;
    }
    #login {
        width: 75%!important;
        right: 12.5%!important;
        top: 15% !important;
    }
}

.container {
    width: 100%;
    max-width: none;
}
.row {
    margin: 0!important;
    height: 100%;
    text-align: center;
}
.imgResize{
    width: 100%;
    height: auto;
}
.selected {
    color: #D5B927;
}

/**
    Gère le footer
*/

#societe li {
    display: block;
}
#insta {
    width: 35px;
    height: 35px;
}
#social {
    padding-right: 15px;
}
/**
    Gère le menu
**/
#bandeau {
    background: black;
    width: 100%;
    opacity: 0.7;
}
#bandeau h1 {
    text-align: center;
    font-size: 2.5em;
}

/**
    Gère la page principale avec slogan et Logo
**/
#slogan {
    margin: auto;
}
#slogan h1 {
    font-size: 5vw;
}

#second{
    padding-left: 35%;
}

#app input {
    border: none;
    background: #620F00;
    color: #ecf0f1;
    font-size: .8em;
    text-transform: uppercase;
    padding: 20px 30px;
    margin-bottom: 10%;
    width: auto;
    border-radius: 75px;
    box-shadow: 1px 2px 121px 0px rgba(0,0,0,0.75);
}
#app input:hover {
    color: white;
    font-weight: 700;
    letter-spacing: 3px;
    background: none;
    transition: all 0.3s ease 0s;
}

/**
    Gère la page a propos du footer
**/

#propos {
    margin: 0 5% 0 40%;
    border-radius: 50px;
    padding: 15px;
    width: 70%;
    text-align: left;
    opacity: 0.7;
    background-color: black;
    box-shadow: 10px 10px 194px 13px rgba(0,0,0,0.75);
}
#propos li, #listeGestionCompte li {
    display: inline-block;
    margin: 0 2%;
}
#propos li:hover, #gestion li:hover {
    color: #D5B927;
    transition: all 1s ease;
    cursor: pointer;
}
#propos h1 {
    color: #cac6c3!important;
    text-decoration: underline;
}
#propos video {
    border-radius: 20px;
    width: 100%;
}

#logo {
    float: right;
    width: 10%;
    height: 10%;
}

/**
    Gère les affaires légales du site
**/

#legal{
    letter-spacing: 2px;
    padding: 5px 0 10px 0;
    margin: 0 auto!important;
}
#legal li{
    margin: 0 2%;
    font-size: .6em;
}

/**
    Gère les membres dans A propos
**/

#profil img {
    border-radius:100px;
}
#profil section{
    width: 100%;
    text-align: center;
}
#jordan {
    font-size: 0.8em;
}

/**
    Gère l'emplacement pour le compte dans le menu
**/

#gestion {
    text-align: center;
    position: fixed;
    display: none;
    opacity: 0.7;
    z-index: 50;
    right: 1%;
}

#gestion li {
    margin: 10px;
}

#compte {
    background-color: black;
    opacity: 0.7;
    text-align: right;
    padding-bottom: 5px;
    padding-right: 3%;
}
#compte h1:before {
    content: url("../image/icon7.png");
    padding: 10px;
}
#compte h1 {
    font-size: 1em;
}
#compte img, #compte p {
    display: inline-block;
    margin: auto;
}

#compte p {
    cursor: pointer;
}

#avatar {
    border-radius: 100px;
    margin-right: 10px!important;
}
/**
    Gère le formulaire de connexion/inscription
**/

#fond {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    background-color: black;
    z-index: 10;
    opacity: 0.6;
}
#login {
    margin: auto;
    position: fixed;
    z-index: 20;
    top: 20%;
    right: 25%;
    width: 50%;
}
#login input {
    display: block;
    width: 100%;
    height: 2em;
    border-radius: 5px;
    margin: 10px 0;
    padding-left: 10px;
}

#login input[type=submit]:hover, #gestionCompte input[type=submit]:hover {
    background: #620F00;
    border: 2px solid #620F00;
    color: white;
}
#login input[type=submit], #login input[type=button] {
    width: 60%;
    margin: auto;
}
#login input[type=date]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    display: none;
}

#login input[type=button] {
    margin-top: 30px;
    background-color: #620F00;
    border: none;
    color:white;
}
#login input[type=button]:hover {
    background-color: white;
    color: #55000F;
    opacity: 0.7;
    transition: all 1s ease 0s;
}

/**
    Gestion des erreurs pour formulaire
**/

#erreur1, #erreur2, #erreur3, #erreur4 {
    font-size: 1em;
    margin: 15px;
    font-family: "Comic Sans MS",sans-serif;
    color: red;
}

#erreur3{
    text-align: center;
    width: 100%;
}

/**
    Gestion du carrousel
**/

.achievFav {
    text-align: center;
    border-radius: 50px;
    list-style-type: none;
}
.sectionFav {
    text-align: left;
    margin: auto;
}
.sectionFav a {
    text-align: center;
}
.sectionFav a img {
    position: relative;
    top: 20%;
    max-height: 100px;
    max-width: 200px;
}
.achievFav li {
    display: inline-block;
    text-align: center;
    font-size: 0.7em;
    margin: 0 3%;
    width: 25%;
}
.achievFav li img {
    display: block;
    max-height: 150px;
    max-width: 150px;
    margin: auto;
}

/**
    Gestion du compte
**/

#gestionCompte {
    margin: auto;
    border-radius: 50px;
    text-align: left!important;
    padding: 15px;
    opacity: 0.9;
    background-color: black;
    box-shadow: 10px 10px 194px 13px rgba(0,0,0,0.75);
}
#gestionCompte img {
    border-radius: 25px;
}
#gestionCompte input {
    width: 60%;
    padding-left: 2%;
    height: 3em;
    font-size: 1em;
    border-radius: 5px;
    margin: 15px;
}
#gestionCompte label {
    width: 25%;
}
#gestionCompte input, #gestionCompte label {
    display: inline-block;
}
#gestionCompte input[type=submit] {
    display: block;
    width: 35%;
    margin: 25px auto;
}
#listeGestionCompte {
    font-size: 1.2em;
}

#crayon {
    margin-left: 10px;
}
#file{
    display: none!important;
}

#image label{
    vertical-align: text-top;
}
.containerAchiev {
    padding: 0;
}

#legalDiv h1, h2, #protection h1 {
    font-size: 1.5em;
    font-weight: bold;
}
#legalDiv p{
    padding: 15px;
    opacity: 0.8;
    background-color: black;
    box-shadow: 10px 10px 194px 13px rgba(0,0,0,0.75);
    font-size: 0.8em;
}

#protection ul{
    list-style-type: disc !important;
}

#protection{
    padding: 15px;
    opacity: 0.8;
    background-color: black;
    box-shadow: 10px 10px 194px 13px rgba(0,0,0,0.75);
    font-size: 0.8em;
}

#protection li{
    margin: 0 0 0 20px !important;
}

/*
    gère la partie admin
 */

#menuAdmin ul {
    margin: 2% 0;
}

#menuAdmin ul:first-child li {
    margin: 0 15px;
    display: inline-block;
}

#contenuAdmin li {
    background-image: linear-gradient(to right, rgba(255,0,0,0), #620F00, rgba(255,0,0,0));
    text-align: center;
}

/*
    gère la partie des bières dans admin
 */
.biereAdmin {
    display: grid;
    padding: 3%;
    grid-template-columns: 40% 20% 40%;
    grid-template-areas: 'myArea . .' 'myArea . .' 'myArea . .' 'myArea . .' 'myArea . .' '. . .';
}

.imgBiere {
    grid-area: myArea;
    margin: auto;
}

.biereAdmin input{
    height: auto!important;
    margin: 3% auto;
}

.biereAdmin input[type=submit] {
    width: 100%!important;
}
.biereAdmin label {
    width: 100%!important;
    margin: auto;
}

/*
    gère la partie des bars dans Admin
 */
.barAdmin {
    margin: auto;
    width: 80%;
    display: grid;
    padding: 3%;
    grid-template-columns: 30% 70%;
}

.barAdmin label {
    margin: auto;
}

.barAdmin input[type=submit] {
    width: 70%;
    margin: auto;
}

.barAdmin input {
    height: auto!important;
    width: 90%!important;
    margin: 1% auto;
}